{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="main-header">О корпусе переписок “CoCo”</h2>
    <p>Корпус создан в рамках диплома "Cоздание сайта для корпуса текстов переписок из Telegram на русском языке" по специальности "Frontend-разработик. Специалист" на образовательной платформе <a href="https://gb.ru/"> Geek Brains </a> студеткой Добрыниной Анастасией. Цель проекта - создание корпуса интернет-речи, содержащей неологизмы и нестандартные слова для дальнейшего использования в исследованиях в сфере языковых изменений и автоматической обработки естественного языка.</p>
    <p>Связаться с разработчиком:  <a href="http://t.me/AnastasiaDobrynina_1">Анастасия Добрынина</a>
    <p>Корпус насчитывает</p>
    <ul>
        <li><b>1 053 195</b> текстов</li>
        <li><b>8 205 336</b> токенов</li>
    </ul>

<p>Материалы взяты из открытых чатов из соцсети Telegram.</p>

<p>Данные обрабатывались с помощью пакета Stanza для Python.</p>

</div>
{% endblock %}
