{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="main-header">Инструкция по поиску</h2>
    <h3>Как сделать запрос?</h3>
    <h4>метаинформация</h4>
    <p>Вы можете опционально задать ограничение на поиск по следующим параметрам: категория, сообщество и дата. Эти параметры распространяются на все остальные поля поиска.</p>
    <ul>
        <li><b>Категория</b>. Можно задать категорию (тему) чатов: спорт, фандомы, общежития, гейм. Для этого Вы можете отметить галочкой соответствующий раздел.</li>
        <li><b>Сообщество</b>. Можно выбрать из выпадающего списка конкретное сообщество или несколько. Чтобы выбрать более одного сообщества, нажмите на символ “+” справа от поля.</li>
        <b>NB:</b> поиск по темам и сообществам выполняется интерсективно, т. е. если выбрать сообщества и тему, несоотвествующие друг другу, результат поиска будет пустым.
        <li><b>Дата и время </b>вводятся в формате дд:мм:гггг чч:мм</li>
    </ul>

<h4>полнотекстовый поиск</h4>
<p>Возможен поиск по полному совпадению со словосочетанием, фразой, предложением и тому подобного.</p>
    <ul>
        <li>Принимаются любые символы</li>
        <li>Полнотекстовый поиск имеет приоритет над расширенным: если заполнено поле полнотекстового поиска, параметры расширенного не будут учитываться</li>
        <li><b>NB:</b> пунктация и регистр учитываются: <i>Привет</i> и <i>привет!</i> – разные запросы.</li>
    </ul>
<h4>расширенный поиск</h4>
    <p>Есть возможность многофункционального поиска. Для поиска по одному слову можно задать лемму и/или словоформу и/или часть речи.</p>
    <ul>
        <li>Во все поля принимаются только символы латиницы или кириллицы, а таже emoji. Поиск по символам пунктуации и цифрам невозможен</li>
        <li>Все поля учитывают регистр</li>
        <li>В поле часть речи принимаются только обозначения по <a href="https://universaldependencies.org/u/pos/">Universal POS tags</a> заглавными буквами</li>
    </ul>
<p>Также возможен поиск по N-граммам. Чтобы добавить слово в N-грамму, нажмите на символ ‘+’ рядом с окном первого слова. При нажатии на плюс рядом с любым дргуим словом, новое слово добавляется в конец N-граммы. Чтобы убрать слово, нажмите на ‘-’.</p>
    <p>Расстояние между словами считается в токенах от предыдущего слова. Расстояние 1 значит что слово будет идти сразу за предыдущим.</p>
    <p><b>NB:</b> токеном также считается пунктуация.</p>
<p>Задать расстояние с помощью добавления пустого поля невозможно: запрос будет выполнен только по первым идещим подряд заполненным словам.</p>

<h4>результаты поиска</h4>

<p>На странице с результатми поиска отображается:</p>
    <ul>
        <li>время выполнения запроса в форма ч:мм:сс</li>
        <li>количество вхождений искомого запроса</li>
    </ul>
    <p>Параметры запроса:</p>
    <ul>
        <li>полнотектовый поиск</li>
        или
        <li>указанные леммы/словоформы/части речи для каждого слова</li>
        <li>расстояние между ними</li>
        <li>заданная метаинформация: выбранные темы, сообщества, даты до и после которых осуществляется поиск</li>
    </ul>
<p>Далее представлены тексты (сообщения) из корпуса, удовлетворяющие запросу. Приведен целиком текст сообщения с нумерацией по порядку появления в корпусе.</p>
    <p>Справа снизу представлена информация о сообщении: название чата, тема, к которой относится чат и точная время отправки сообщения.</p>
    <p>Искомые слова выделенны жирным.</p>
    <p>Чтобы посмотреть грамматическую информацию об искомом слове/словах, наведите на них. Появится всплывающее окно, с указанием частересной разметки и прочей грамматической информации в соответсвии с разметкой
        <a href="http://https://stanfordnlp.github.io/stanza/pos.html">разметкой Stanza</a></p>
    <br>
    <p>Жедаем Вам приятного использования копуса и новых открытий!</p>



</div>
{% endblock %}
